{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Jennyfer Lawrence</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium maiores ea rem facilis rerum, corrupti, quas atque voluptates dignissimos esse vel nemo modi ipsam vero iure, eligendi natus? Dolore.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/jennyfer_lawrence.png" alt="Imagen" class="img-thumbnail">         
        </div>
    </div>

{{> footer }}